$primary-font: 'Avenir Next';
$primary-font-bold: 'Avenir Next Bold';
$button-bg-color: #39CDCC;
$color-white: #FFFFFF;
$color-red: #E4033B;

/** Variables for authentication pages */
$header-color: #213F7D;
$subheader-color: #545F7D;
$link-color: #39CDCC;
/** Variables for authentication pages */

/** Variables for dashboard pages */
$dashboard-bg-color: #FBFBFB;
$main-blue-color: #213F7D;
/** Variables for dashboard pages */

/** Media queries */
$sm: 600px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
/** Media queries */

$transition-time: 0.5s;