@use 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@font-face {
  font-family: variables.$primary-font;
  src: url('/assets/fonts/AvenirLTPro-Roman.woff') format('woff');
}

@font-face {
  font-family: variables.$primary-font-bold;
  src: url('/assets/fonts/AvenirLTPro-Black.woff') format('woff');
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: variables.$primary-font;
  outline: none;
}

input, select {
  outline: none;
  -webkit-transition: 0.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}