@use '../variables';
$link-hover-color: #39CDCC;

$topBarLgMargin: theme('spacing.16');
$topBarMargin: theme('spacing.8');
$topBarLgHeight: 54.55px;
$topBarHeight: 30px;

.mainDashboard {
    background-color: variables.$dashboard-bg-color;;
}

.topSection {
    background-color: variables.$color-white;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    .searchInput {
        height: 40px;
        border-radius: 5px;
        text-indent: 15px;
        font-size: 14px;
        border: 1px solid rgba(variables.$main-blue-color, 0.2);
    }
    .searchInput:focus {
        border: 1px solid rgba(variables.$button-bg-color, 0.5);
    }
    .searchButton {
        height: 40px;
        border-radius: 0px 5px 5px 0px;
        border: none;
        width: 56px;
        background-color: variables.$button-bg-color;
    }
    .rightHandSection {
        color: variables.$main-blue-color;
        font-size: 16px;
        .link {
            text-decoration: underline;
        }
    }
}

.mainBlueColor {
    color: variables.$main-blue-color;
}

.sideNav {
    margin-top: calc($topBarLgMargin + $topBarLgHeight);
    height: calc(100vh - $topBarLgMargin - $topBarLgHeight);
    overflow-y: scroll;
    @media screen and (max-width: variables.$lg) {
        margin-top: calc($topBarMargin + $topBarHeight);
        height: calc(100vh - $topBarMargin - $topBarHeight);
        overflow-y: scroll;
    }
}

.mainSection {
    margin-top: calc($topBarLgMargin + $topBarHeight);
    @media screen and (max-width: variables.$lg) {
        margin-top: calc($topBarMargin + $topBarHeight);
    }
}

.sideNavList {
    opacity: 0.7;
    border-left: 3px solid variables.$color-white;
}

.sideNavActive {
    opacity: 1;
    border-left: 3px solid variables.$color-white;
}

.sideNavLinkList {
    opacity: 0.7;
    border-left: 3px solid variables.$color-white;
    -webkit-transition: 0.2s;
}

.sideNavLinkActive, .sideNavLinkList:hover {
    opacity: 1;
    border-left: 3px solid $link-hover-color;
    background-color: rgba($link-hover-color, 0.06);
}